<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        a {
            color: #0066c0;
            text-decoration: none;
        }

        a:hover {
            color: #003399;
        }
    </style>
</head>

<body>
    <div class="header">
        <h1>Employee Handling</h1>
    </div>
    <nav>
        <a href="#">Home</a>
        <a id="all_employees_nav">Employees</a>
        <a id="add_employee_nav">Add Employee</a>
    </nav>
    <div id="all_employees" style="display: block;">
        <table>
            <thead>
                <tr>
                    <th>Ssn</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Birth Date</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                    <th>Role</th>
                    <th>Hours</th>
                    <th>Super Ssn</th>
                    <th>GS Longitude</th>
                    <th>GS Latitude</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr id={{employee.0}}>
                    <td>{{employee.0}}</td>
                    <td>{{employee.1}}</td>
                    <td>{{employee.2}}</td>
                    <td>{{employee.3}}</td>
                    <td>{{employee.4}}</td>
                    <td>{{employee.5}}</td>
                    <td>{{employee.6}}</td>
                    <td>{{employee.7}}</td>
                    <td>{{employee.8}}</td>
                    <td>{{employee.9}}</td>
                    <td>{{employee.10}}</td>
                    <td>{{employee.11}}</td>
                    <td>{{employee.12}}</td>
                    <td>
                        <a href="#" onclick="editEmployee('{{employee.0}}')">Edit</a> |
                        <a href="#">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="add_employee" style="display: none;">
        <form>
            <label for="ssn">Ssn:</label><br>
            <input type="text" id="ssn" name="ssn"><br>
            <label for="first-name">First Name:</label><br>
            <input type="text" id="first-name" name="first-name"><br>
            <label for="last-name">Last Name:</label><br>
            <input type="text" id="last-name" name="last-name"><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br>
            <label for="birth-date">Birth Date:</label><br>
            <input type="date" id="birth-date" name="birth-date"><br>
            <label for="phone-number">Phone Number:</label><br>
            <input type="number" id="phone-number" name="phone-number"><br>
            <label for="longitude">Longitude:</label><br>
            <input type="number" id="longitude" name="longitude"><br>
            <label for="Latitude">Latitude:</label><br>
            <input type="number" id="latitude" name="latitude"><br>
            <label for="role">Role:</label><br>
            <input type="text" id="role" name="role"><br>
            <label for="hours">Hours:</label><br>
            <input type="number" id="hours" name="hours"><br>
            <label for="super-ssn">Super_ssn:</label><br>
            <input type="text" id="super-ssn" name="super-ssn"><br>
            <label for="gs-longitude">GS_Longitude:</label><br>
            <input type="number" id="gs-longitude" name="gs-longitude"><br>
            <label for="gs-latitude">GS_Latitude:</label><br>
            <input type="number" id="gs-latitude" name="gs-latitude"><br>
        </form>
    </div>
</body>

<script>

    function editEmployee(id) {
        // Get a reference to the table row
        const row = document.querySelector(`tr[id="${id}"]`);

        // Get the values of the cell elements
        const cells = row.querySelectorAll('td');
        const ssn = cells[0].textContent;
        const first_name = cells[1].textContent;
        const last_name = cells[2].textContent;
        const birth_date = cells[3].textContent;
        const phone_number = cells[4].textContent;
        const email = cells[5].textContent;
        const longitude = cells[6].textContent;
        const latitude = cells[7].textContent;
        const role = cells[8].textContent;
        const hours = cells[9].textContent;
        const super_ssn = cells[10].textContent;
        const gs_longitude = cells[11].textContent;
        const gs_latitude = cells[12].textContent;
        
        // Replace the cell elements with form inputs
        cells[0].innerHTML = `<input type="text" name="ssn" value="${ssn}" readonly="readonly">`;
        cells[1].innerHTML = `<input type="text" name="first-name" value="${first_name}">`;
        cells[2].innerHTML = `<input type="text" name="last-name" value="${last_name}">`;
        cells[3].innerHTML = `<input type="text" name="birth-date" value="${birth_date}">`;
        cells[4].innerHTML = `<input type="number" name="phone-number" value="${phone_number}">`
        cells[5].innerHTML = `<input type="email" name="email" value="${email}">`;
        cells[6].innerHTML = `<input type="number" name="longitude" value="${longitude}">`;
        cells[7].innerHTML = `<input type="number" name="latitude" value="${latitude}">`;
        cells[8].innerHTML = `<input type="text" name="role" value="${role}">`;
        cells[9].innerHTML = `<input type="number" name="hours" value="${hours}">`;
        cells[10].innerHTML = `<input type="text" name="super-ssn" value="${super_ssn}">`;
        cells[11].innerHTML = `<input type="number" name="gs-longitude" value="${gs_longitude}">`;
        cells[12].innerHTML = `<input type="number" name="gs-latitude" value="${gs_latitude}">`;
        cells[13].innerHTML = `<a href="#" onclick="saveEmployee('${id}')">Save</a>`;
    }

    function saveEmployee(id) {
        // Get a reference to the table row
        const row = document.querySelector(`tr[id="${id}"]`);

        const form = document.createElement('form');
        form.method = 'POST';

        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'csrfmiddlewaretoken';
        input.value = '{{ csrf_token }}';

        form.appendChild(input);

        const cells = row.querySelectorAll('td');

        for (let i = 0; i < cells.length; i++) {
            form.appendChild(cells[i]);
        }

        row.parentNode.replaceChild(form, row);
        form.submit();
    }
</script>

</html>