<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    {% for purchase in purchases %}
    <p>Id: {{purchase.0}}, Purchase_Date: {{purchase.1}}
        Type_of_Payment: {{purchase.2}},
        Cus_Email: {{purchase.3}}, GS_Longitude: {{purchase.4}},
        GS_Latitude: {{purchase.5}}, Pump_Id: {{purchase.6}}
    </p>
    {% endfor %}
</body>

</html>