{% extends "base.html" %}
{% block title %}Purchase{% endblock %}
{% block style %}
<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        color: #fff;
        padding: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    nav a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
    }

    nav a:hover {
        color: #ccc;
        cursor: pointer;
    }

    a {
        color: #0066c0;
        text-decoration: none;
    }

    a:hover {
        color: #003399;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 10px auto;
        padding: 20px;
        border: 2px solid #333;
        border-radius: 5px;
    }

    form label {
        margin-top: 10px;
        font-size: 18px;
    }

    form input,
    form textarea {
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    form #submit {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

    form #submit:hover {
        background-color: #555;
    }
</style>
{% endblock %}

{% block body %}
<div class="header">
    <h1>Purchase Handling</h1>
</div>
<nav>
    <a href="/">Home</a>
    <a id="all_purchase_nav" onclick="ShowPurchase()">Purchases</a>
    <a id="search_purchase_nav" onclick="SearchPurchase()">Search Purchase</a>
    <a id="add_purchase_nav" onclick="AddPurchase()">Add Purchase</a>
</nav>
<div id="all_purchases" style="display: block">
    <table>
        <thead>
            <tr>
                <th>Purchase Id</th>
                <th>Purchase Date</th>
                <th>Type of Payment</th>
                <th>Customer Email</th>
                <th>Gas Station Longitude</th>
                <th>Gas Station Latitude</th>
                <th>Pump Id</th>
                <th>Tank Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
            <tr id="{{purchase.0}}">
                <td>{{purchase.0}}</td>
                <td>{{purchase.1}}</td>
                <td>{{purchase.2}}</td>
                <td>{{purchase.3}}</td>
                <td>{{purchase.4}}</td>
                <td>{{purchase.5}}</td>
                <td>{{purchase.6}}</td>
                <td>{{purchase.7}}</td>
                <td>
                    <a href="#'{{purchase.0}}'" onclick="editPurchase('{{purchase.0}}')">Edit</a>
                    |
                    <a href="{{purchase.0}}/">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="search_purchase" style="display: none">
    <p>Select fields you want to search for</p>
    <select id="dropdown">
        <option value="purchase-id">Purchase_Id</option>
        <option value="purchase-date">Purchase_Date</option>
        <option value="type-of-payment">Type_Of_Payment</option>
        <option value="customer-email">Customer_Email</option>
        <option value="gs-longitude">Gas_Station_Longitude</option>
        <option value="gs-latitude">Gas_Station_Latitude</option>
        <option value="pump-id">Pump_Id</option>
        <option value="tank-id">Tank_Id</option>

    </select>
    <button id="add-input-button" onclick="addInput()">Add Input</button>
    <form id="searchPurchaseForm" method="POST">
        {% csrf_token %}
        <input type="submit" id="submit-search-purchase" name="search_purchase" value="submit" disabled />
    </form>
</div>
<div id="add_purchase" style="display: none">
    <form id="addPurchaseForm" method="POST">
        {% csrf_token %}
        <label for="purchase-id">Purchase Id:</label><br>
        <input type="number" step="1" min="1" id="purchase-id" name="purchase-id" readonly="readonly"><br>
        <label for="purchase-date">Purchase Date:</label><br>
        <input type="date" id="purchase-date" name="purchase-date" required><br>
        <label for="type-of-payment">Type of Payment:</label><br>
        <input type="text" maxlength="30" id="type-of-payment" name="type-of-payment" required><br>
        <label for="customer-email">Customer Email:</label><br>
        <input type="email" id="customer-email" name="customer-email"><br>
        <label for="gs-longitude">GS_Longitude:</label><br>
        <input type="number" min="0" max="99.999999" step="0.000001" id="gs-longitude" name="gs-longitude" required><br>
        <label for="gs-latitude">GS_Latitude:</label><br>
        <input type="number" min="0" max="999.999999" step="0.000001" id="gs-latitude" name="gs-latitude" required><br>
        <label for="pump-id">Pump Id:</label><br>
        <input type="number" step="1" min="1" id="pump-id" name="pump-id"><br>
        <label for="tank-id">Tank Id:</label><br>
        <input type="number" step="1" min="1" id="tank-id" name="tank-id"><br>
        <input type="submit" id="submit-add-purchase" name="add_purchase" value="submit" />
    </form>
</div>
{% endblock %}

{% block js %}

{% if id_fault %}
<script>
    alert('{{id_fault}}');
</script>
{% endif %}

{% if purchase_date_fault %}
<script>
    alert('{{purchase_date_fault}}');
</script>
{% endif %}

{% if type_of_payment_fault %}
<script>
    alert('{{type_of_payment_fault}}');
</script>
{% endif %}

{% if customer_email_fault %}
<script>
    alert('{{customer_email_fault}}');
</script>
{% endif %}

{% if gs_longitude_fault %}
<script>
    alert('{{gs_longitude_fault}}');
</script>
{% endif %}

{% if gs_latitude_fault %}
<script>
    alert('{{gs_latitude_fault}}');
</script>
{% endif %}

{% if pump_id_fault %}
<script>
    alert('{{pump_id_fault}}');
</script>
{% endif %}

{% if tank_id_fault %}
<script>
    alert('{{tank_id_fault}}');
</script>
{% endif %}

<script>
    function ShowPurchase() {
        const all_purchases = document.getElementById("all_purchases");
        all_purchases.style.display = "block";
        const search_purchase = document.getElementById("search_purchase");
        search_purchase.style.display = "none";
        const add_purchase = document.getElementById("add_purchase");
        add_purchase.style.display = "none";
        window.location.href = "/purchases/";
    }

    function SearchPurchase() {
        const all_purchases = document.getElementById("all_purchases");
        all_purchases.style.display = "none";
        const search_purchase = document.getElementById("search_purchase");
        search_purchase.style.display = "block";
        const add_purchase = document.getElementById("add_purchase");
        add_purchase.style.display = "none";
    }

    function AddPurchase() {
        const all_purchases = document.getElementById("all_purchases");
        all_purchases.style.display = "none";
        const search_purchase = document.getElementById("search_purchase");
        search_purchase.style.display = "none";
        const add_purchase = document.getElementById("add_purchase");
        add_purchase.style.display = "block";
        const id_field = document.getElementById("purchase-id");
        id_field.value = parseInt('{{number_of_purchases}}') + 1;
    }

    function addInput() {
        document.getElementById("submit-search-purchase").disabled = false;
        // Get selected option value
        var dropdown = document.getElementById("dropdown");
        var selectedOption = dropdown.value;

        if (typeof addInput.counter == 'undefined') {
            addInput.counter = 0;
        }
        addInput.counter++;
        dropdown.selectedIndex++;

        if (addInput.counter === 8) {
            document.getElementById("add-input-button").disabled = true;
        }
        // Set input type based on selected option
        var type;
        switch (selectedOption) {
            case "purchase-id":
                type = "number";
                step = "1";
                min = "1";
                break;
            case "purchase-date":
                type = "date";
                break;
            case "type-of-payment":
                type = "text";
                maxlength = "30"
                break;
            case "customer-email":
                type = "email";
                break;
            case "gs-longitude":
                type = "number";
                step = "0.000001";
                min = "0";
                max = "99.999999"
                break;
            case "gs-latitude":
                type = "number";
                step = "0.000001";
                min = "0";
                max = "999.999999"
                break;
            case "pump-id":
                type = "number";
                step = "1";
                min = "1";
                break;
            case "tank-id":
                type = "number";
                step = "1";
                min = "1";
                break;
            default:
                type = "text";
        }

        var options = dropdown.options;
        for (var i = 0; i < options.length; i++) {
            if (options[i].value == selectedOption) {
                options[i].disabled = true;
                break;
            }
        }

        // Add new input field to form
        var form = document.getElementById("searchPurchaseForm");
        var input = document.createElement("input");
        var label = document.createElement("label");
        input.type = type;
        if (type == "number") {
            input.step = step;
            input.min = min;
            if (selectedOption == "gs-longitude" || selectedOption == "gs-latitude") {
                input.max = max;
            }
        }
        if (selectedOption == "type-of-payment") {
            input.setAttribute("maxlength", maxlength);
        }
        input.name = selectedOption;
        label.setAttribute("for", selectedOption);
        label.textContent = selectedOption;
        form.insertBefore(document.createElement("br"), form.firstChild);
        form.insertBefore(input, form.firstChild);
        form.insertBefore(label, form.firstChild);
    }

    function editPurchase(id) {
        // Get a reference to the table row
        const row = document.querySelector(`tr[id="${id}"]`);

        // Get the values of the cell elements
        const cells = row.querySelectorAll("td");
        const purchase_id = cells[0].textContent;
        var purchase_date = cells[1].textContent;
        const type_of_payment = cells[2].textContent;
        const customer_email = cells[3].textContent;
        const gs_longitude = cells[4].textContent;
        const gs_latitude = cells[5].textContent;
        const pump_id = cells[6].textContent;
        const tank_id = cells[7].textContent;

        purchase_date = purchase_date.split('/')
        purchase_date = purchase_date[2] + "-" + purchase_date[1] + "-" + purchase_date[0];

        // Replace the cell elements with form inputs
        cells[0].innerHTML = `<input type="number" step="1" min="1" name="purchase-id" value="${purchase_id}" readonly="readonly">`;
        cells[1].innerHTML = `<input type="date" name="purchase-date" value="${purchase_date}">`;
        cells[2].innerHTML = `<input type="text" maxlength="30" name="type-of-payment" value="${type_of_payment}">`;
        cells[3].innerHTML = `<input type="email" name="customer-email" value="${customer_email}">`;
        cells[4].innerHTML = `<input type="number" min="0" max="99.999999" step="0.000001" name="gs-longitude" value="${gs_longitude}">`;
        cells[5].innerHTML = `<input type="number" min="0" max="999.999999" step="0.000001" name="gs-latitude" value="${gs_latitude}">`;
        cells[6].innerHTML = `<input type="number" step="1" min="1" name="pump-id" value="${pump_id}">`;
        cells[7].innerHTML = `<input type="number" step="1" min="1" name="tank-id" value="${tank_id}">`;
        cells[8].innerHTML = `<a onclick="savePurchase('${id}')">Save</a>`;
    }

    function savePurchase(id) {
        // Get a reference to the table row
        const row = document.querySelector(`tr[id="${id}"]`);

        const form = document.createElement("form");
        form.method = "POST";
        form.action = "/purchases/";

        const input = document.createElement("input");
        input.type = "hidden";
        input.name = "csrfmiddlewaretoken";
        input.value = "{{ csrf_token }}";

        form.appendChild(input);

        const cells = row.querySelectorAll("td");

        for (let i = 0; i < cells.length; i++) {
            form.appendChild(cells[i]);
        }

        row.parentNode.replaceChild(form, row);
        form.submit();
    }
</script>

{% endblock %}