<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    {% for supply in supplies %}
    <p>Id: {{supply.0}}, Expected_Arrival_Date: {{supply.1}}
        Real_Arrival_Date: {{supply.2}}, Sup_Email: {{supply.3}},
        GS_Longitude: {{supply.4}}, GS_Latitude: {{supply.5}}
    </p>
    {% endfor %}
</body>

</html>