{% extends "base.html" %}
{% block title %}Supplier{% endblock %}
{% block style %}
<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }

  nav a:hover {
    color: #ccc;
    cursor: pointer;
  }

  a {
    color: #0066c0;
    text-decoration: none;
  }

  a:hover {
    color: #003399;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 5px;
  }

  form label {
    margin-top: 10px;
    font-size: 18px;
  }

  form input,
  form textarea {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  form #submit {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  form #submit:hover {
    background-color: #555;
  }
</style>
{% endblock %}

{% block body %}
<div class="header">
  <h1>Supplier Handling</h1>
</div>
<nav>
  <a href="/">Home</a>
  <a id="all_suppliers_nav" onclick="ShowSuppliers()">Suppliers</a>
  <a id="search_supplier_nav" onclick="SearchSupplier()">Search Supplier</a>
  <a id="add_supplier_nav" onclick="AddSupplier()">Add Supplier</a>
</nav>
<div id="all_suppliers" style="display: block">
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for supplier in suppliers %}
      <tr id="{{supplier.0}}">
        <td>{{supplier.0}}</td>
        <td>{{supplier.1}}</td>
        <td>{{supplier.2}}</td>
        <td>{{supplier.3}}</td>
        <td>{{supplier.4}}</td>
        <td>{{supplier.5}}</td>
        <td>
          <a href="#'{{supplier.0}}'" onclick="editSupplier('{{supplier.0}}')">Edit</a>
          |
          <a href="{{supplier.0}}/">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div id="search_supplier" style="display: none">
  <p>Select fields you want to search for</p>
  <select id="dropdown">
    <option value="email">Email</option>
    <option value="phone-number">Phone_Number</option>
    <option value="longitude">Longitude</option>
    <option value="latitude">Latitude</option>
  </select>
  <button id="add-input-button" onclick="addInput()">Add Input</button>
  <form id="searchSupplierForm" method="POST">
    {% csrf_token %}
    <input type="submit" id="submit-search-supplier" name="search_supplier" value="submit" disabled />
  </form>
</div>
<div id="add_supplier" style="display: none">
  <form id="addSupplierForm" method="POST">
    {% csrf_token %}
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>
    <label for="first-name">First Name:</label><br>
    <input type="text" maxlength="30" id="first-name" name="first-name" required><br>
    <label for="last-name">Last Name:</label><br>
    <input type="text" maxlength="30" id="last-name" name="last-name" required><br>
    <label for="phone-number">Phone Number:</label><br>
    <input type="number" step="1" min="6900000000" max="6999999999" id="phone-number" name="phone-number" required><br>
    <label for="longitude">Longitude:</label><br>
    <input type="number" step="0.000001" min="0" max="99.999999" id="longitude" name="longitude" required><br>
    <label for="latitude">Latitude:</label><br>
    <input type="number" step="0.000001" min="0" max="999.999999" id="latitude" name="latitude" required><br>
    <input type="submit" id="submit-add-supplier" name="add_supplier" value="submit" />
  </form>
</div>
{% endblock %}

{% block js %}

{% if email_fault %}
<script>
  alert('{{email_fault}}');
</script>
{% endif %}

{% if first_name_fault %}
<script>
  alert('{{first_name_fault}}');
</script>
{% endif %}

{% if last_name_fault %}
<script>
  alert('{{last_name_fault}}');
</script>
{% endif %}

{% if phone_number_fault %}
<script>
  alert('{{phone_number_fault}}');
</script>
{% endif %}

{% if longitude_fault %}
<script>
  alert('{{longitude_fault}}');
</script>
{% endif %}

{% if latitude_fault %}
<script>
  alert('{{latitude_fault}}');
</script>
{% endif %}

<script>
  function ShowSuppliers() {
    const all_suppliers = document.getElementById("all_suppliers");
    all_suppliers.style.display = "block";
    const search_supplier = document.getElementById("search_supplier");
    search_supplier.style.display = "none";
    const add_supplier = document.getElementById("add_supplier");
    add_supplier.style.display = "none";
    window.location.href = "/supplier/";
  }

  function SearchSupplier() {
    const all_suppliers = document.getElementById("all_suppliers");
    all_suppliers.style.display = "none";
    const search_supplier = document.getElementById("search_supplier");
    search_supplier.style.display = "block";
    const add_supplier = document.getElementById("add_supplier");
    add_supplier.style.display = "none";
  }

  function AddSupplier() {
    const all_suppliers = document.getElementById("all_suppliers");
    all_suppliers.style.display = "none";
    const search_supplier = document.getElementById("search_supplier");
    search_supplier.style.display = "none";
    const add_supplier = document.getElementById("add_supplier");
    add_supplier.style.display = "block";
  }

  function addInput() {
    document.getElementById("submit-search-supplier").disabled = false;
    // Get selected option value
    var dropdown = document.getElementById("dropdown");
    var selectedOption = dropdown.value;

    if (typeof addInput.counter == 'undefined') {
      addInput.counter = 0;
    }
    addInput.counter++;
    dropdown.selectedIndex++;

    if (addInput.counter === 4) {
      document.getElementById("add-input-button").disabled = true;
    }
    // Set input type based on selected option
    var type;
    switch (selectedOption) {
      case "email":
        type = "email";
        break;
      case "phone-number":
        type = "number";
        step = "1"
        min = "6900000000";
        max = "6999999999";
        break;
      case "longitude":
        type = "number";
        step = "0.000001";
        min = "0";
        max = "99.999999"
        break;
      case "latitude":
        type = "number";
        step = "0.000001";
        min = "0";
        max = "999.999999"
        break;
      default:
        type = "text";
    }

    var options = dropdown.options;
    for (var i = 0; i < options.length; i++) {
      if (options[i].value == selectedOption) {
        options[i].disabled = true;
        break;
      }
    }

    // Add new input field to form
    var form = document.getElementById("searchSupplierForm");
    var input = document.createElement("input");
    var label = document.createElement("label");
    input.type = type;
    if (type == "number") {
      input.step = step;
      input.min = min;
      input.max = max;
    }
    input.name = selectedOption;
    label.setAttribute("for", selectedOption);
    label.textContent = selectedOption;
    form.insertBefore(document.createElement("br"), form.firstChild);
    form.insertBefore(input, form.firstChild);
    form.insertBefore(label, form.firstChild);
  }

  function editSupplier(id) {
    // Get a reference to the table row
    const row = document.querySelector(`tr[id="${id}"]`);

    // Get the values of the cell elements
    const cells = row.querySelectorAll("td");
    const email = cells[0].textContent;
    const first_name = cells[1].textContent;
    const last_name = cells[2].textContent;
    const phone_number = cells[3].textContent;
    const longitude = cells[4].textContent;
    const latitude = cells[5].textContent;

    // Replace the cell elements with form inputs
    cells[0].innerHTML = `<input type="email" name="email" value="${email}" readonly="readonly">`;
    cells[1].innerHTML = `<input type="text" maxlength="30" name="first-name" value="${first_name}">`;
    cells[2].innerHTML = `<input type="text" maxlength="30" name="last-name" value="${last_name}">`;
    cells[3].innerHTML = `<input type="number" step="1" min="6900000000" max="6999999999" name="phone-number" value="${phone_number}">`;
    cells[4].innerHTML = `<input type="number" min="0" max="99.999999" step="0.000001" name="longitude" value="${longitude}">`;
    cells[5].innerHTML = `<input type="number" min="0" max="999.999999" step="0.000001" name="latitude" value="${latitude}">`;
    cells[6].innerHTML = `<a onclick="saveSupplier('${id}')">Save</a>`;
  }

  function saveSupplier(id) {
    // Get a reference to the table row
    const row = document.querySelector(`tr[id="${id}"]`);

    const form = document.createElement("form");
    form.method = "POST";
    form.action = "/supplier/";

    const input = document.createElement("input");
    input.type = "hidden";
    input.name = "csrfmiddlewaretoken";
    input.value = "{{ csrf_token }}";

    form.appendChild(input);

    const cells = row.querySelectorAll("td");

    for (let i = 0; i < cells.length; i++) {
      form.appendChild(cells[i]);
    }

    row.parentNode.replaceChild(form, row);
    form.submit();
  }
</script>

{% endblock %}